@import url("https://fonts.googleapis.com/css2?family=Junge&family=Merienda+One&family=Noto+Nastaliq+Urdu&family=Rammetto+One&family=Rubik+Moonrocks&display=swap");
#backgroundImg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
  #backgroundImg {
    left: 50%;
    margin-left: -512px; /* 50% */
  }
}

.container {
  width: 100%;
  position: relative;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 300px;
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 6em;
  border-radius: 1em;
}

.searchBar {
  position: absolute;
}

.searchBar input[type="text"] {
  padding: 6px;
  border: none;
  font-size: 17px;
  border-radius: 0.5em;
}

.fa:hover {
  transform: scale(1.2);
  transition: 0.7s;
}

#content-box {
  background: rgba(255, 255, 255, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.1px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  height: 6em;
  border-radius: 1.5em;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10%;
  margin-top: 15%;
  width: 320px;
  height: 300px;
  overflow: auto;
}

#icon-img {
  position: absolute;
  margin-left: 55%;
  margin-top: -170px;
  width: 110px;
}

#city-name {
  margin-top: -20px;
  margin-left: 10px;
  font-family: "Noto Nastaliq Urdu", serif;
}

p {
  margin-top: -2px;
  margin-left: 13px;
  font-weight: 900;
  font-family: "Junge", serif;
}

h4 {
  margin-left: 170px;
  margin-top: -45px;
  font-family: "Noto Nastaliq Urdu", serif;
  color: rgb(33, 63, 197);
}

.sunP {
  margin-left: 140px;
  margin-top: -72px;
  position: sticky;
}

#humidity {
  margin-left: 90px;
}

.error {
  margin-top: 5px;
  color: red;
  font-size: 20px;
  font-weight: 600;
  margin-left: 50px;
}

#title {
  position: relative;
  background: #cfe7fa;
  background: linear-gradient(to right, #cfe7fa 0%, #ffca61 50%, #6393c1 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: "Merienda One", cursive;
  display: flex;
  justify-content: center;
  border-radius: 3em;
}
